.background {
  background-image: url("Hintergrundbild.png");
  height:100%;
  background-size: cover;
	background-repeat: no-repeat;
	background-color: #1EA185;
	background-position: center top;
}

.h2header {
  margin-bottom: 20px !important;
}

.DateWrapper {
  float:left;
  width:90%;
  margin-left:5%;
  margin-right:5%;
  margin-top:40px;
}
