.centered {
  text-align: center;
}

.listTeams {
  width: 100%;
  font-size: 12pt;
  margin-top: 0%;
  padding: 1% 5%;
  /* border: 7px solid blue; */
}

.CreateTeam {
  width: 100%;
  font-size: 12pt;
  margin: auto;
  padding: 1% 5%;
}
.groupdisplay{
        width: 70%;
        height: 96%;
        overflow-y: scroll;
        float: left;
  }