.centered {
  text-align: center;
}

.listTeams {
  width: 90%;
  font-size: 12pt;
  margin: auto;
  margin-top: 0%;
  padding: 1% 5%;
  /* border: 7px solid blue; */
}

.CreateTeam {
  width: 45%;
  font-size: 13pt;
  margin: auto;
  margin-top: 0%;
  padding: 1% 5%;
}
