.eventCard {
	margin: 4%;
	background-color: white;
	border-radius: 5px;
	width: auto;
	clear: both;
	overflow: auto;
	box-shadow: 0px 81px 40px -76px #00000091 !important;
}

.eventCard, h4 {
	font-size: 14px;
}

.participatesImagePreview {
	height:40px;
	width:40px;
	float:left;
	margin-left:-10px;
}

@media only screen and (max-width: 768px) {


	.eventCardHeader, .eventCardHeader img {
		position: relative;
		padding-right:0px;
		padding-left:0px;
		width: 100%;
		height: 70pt;
		box-shadow: 0px 81px 40px -76px #00000091;
	}

	.createEventPickImageWrapper {
		padding: 0px !important;
	}

	.createEventPickImageWrapper img {
		width: 100%;
	}

	.createEventCardWrapper {
		/*height: 900px;*/
		padding-bottom: 200px;
	}

	.createEventButton {
		background-color: #F8C947 !important;
		position: fixed !important;
		height: 50px !important;
		bottom: 53px;
	}

	.pickimage {
		height:75px;
		width:75px;
		margin-left:2px;
		margin-right:2px;
		margin-bottom:2px;
	}
	.EventImagePickerWrapper {
		margin-left:auto;
		margin-right:auto;
		margin-bottom: 20px;
		width:317px;
	}

	.eventGroup {
		padding-left: 12px;
		padding-right: 12px;
	}

}

@media only screen and (min-width: 769px) {
	.eventInfo {
		height:100px;
	}

	.event-extend-info {
		margin-top: 25px;
		margin-bottom: 10px;
	}

	.extendedInfo {
		display: none;
	}

	.createEventWeb {
		margin: 2%;
	}

	.participates-image {
		width:100%
}

	.participatesImagePreview {
		height:40px;
		width:40px;
	}

	.createEventButton {
		background-color: #F8C947 !important;
		height: 50px !important;
	}

.pickimage {
	height:100px;
	width:100px;
	margin-left:3px;
	margin-right:3px;
	margin-bottom:3px;
}

.EventImagePickerWrapper {
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 20px;
	cursor:pointer;
	width:748px;
}
.eventGroup {
	padding-left: 72px;
	padding-right: 72px;
}

}


.eventCardHeader, .eventCardHeader img {
	position: relative;
	padding-right:0px;
	padding-left:0px;
	width: 100%;
	height: 130px;
	box-shadow: 0px 81px 40px -76px #00000091;
	object-fit: cover;
}

.eventCardHeader .after {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: white;
	text-align: center;
	display: block;
	background: #0000004d;
}

.eventCardTitle {
	color: white;
	margin-top: 8%;
	z-index: 2;
}

.eventName {
	float:left;
	background-color: #1ea185;
	height: 100%;
	max-width: 70%;
	text-align: left;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 3%;
	padding-right: 3%;
}

.joinBtnWrapper {
	position: relative;
	width: 30%;
	height: 30px;
	border-radius: 4px;
	background: #f8c947;
	color: white;
	margin-right: 20px;
	float: right;
	top: -20pt;
	font-size: 10pt;
}

.joinBtn {
	background: transparent;
	border: 0;
	padding: 0;
	cursor: pointer;
	outline: 0;
	appearance: none;
	width: 100%;
	height: 100%;
}

.eventGroup {
	width: 100%;
	height: 100px;
	background-color: white;
	padding-top: 5pt;
	padding-bottom: 5pt;

}


.myimage {
	height: 5vh;
	width: 5vh;
	border-radius: 50%;
	margin-left: -15px;
}

.participates-image {
	margin-left: 15px;
	margin-top:10px
}

.alreadyJoningText {
	margin-left: -15px;
}




.dateInfo {
	display: inline-block;
}

.timeInfo{
	display: inline-block;
	float: right;
}

.activity-hr {
	margin-top: 5px;
	margin-bottom: 10px;
	border: 0;
	border-top: 1px solid #eee;
}

#collapseFA {
	float: right;
}

#collapseKommentare {
	display: inline-block;
}

#participant-counter {
	float: right;
}

.participants-row {
	float: left;
}

.participants-counter-icon {
	float: left;
	height: 4vh;
	width: 4vh;
	background-color: #f8c947;
	text-align: center;
	border-radius: 50%;
}

.card-wrapper:before, .card-wrapper:after {
	content : "";
	display : table;
}

.card-wrapper:after {
	clear :both;
}

.alreadyJoining {
	padding-top: 10px;
}

.addComment hr {
	border-color: #f8c947 !important ;
}

.event-textfield img {
	height: 4vh;
	width: 4vh;
	border-radius: 50%;
}

.myTextfield {
	float: left;
	padding-left: 10px;
}

.texfield-profile-picture img, .commentUserImage img {
	height: 6vh;
	width: 6vh;
	float: left;
}

.joinInfo {
	margin-left: 15px;
}

.commentWrapper {
	display: flex;
	padding-bottom: 20px;
}

.commentWrapper h6{
	margin-top: 5px;
	margin-bottom: 2px;
}

.commentUserImage {
	float: left;
	height: 100%;
	padding-right: 10px;
}
.commentInfoWrapper {
	width: 70%;
}

.commentContentWrapper {
	float: left;
}

.commentDelete {
	float: right;
}

.collapseOnClick {
	clear: both;
	cursor: pointer;

}

.createEventEditPicture {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	cursor: pointer;
}

.meetingPoint {
	float: left;
	width: 50%;
}

.timepickerMeeting {
	width: 50%;
	padding-left: 2%;
	padding-top: 1.2%;
	float: left;
}

.timepicker {
	overflow: hidden;
	float: left;
	width: 50%;
	padding-left: 2%;
}

.datepicker {
	overflow: hidden;
	width: 50%;
	float: left;
}

.MoreOptionsCreateEvent {
	float: right;
	padding-right: 20px;
	padding-top: 20px;
	cursor: pointer;
}

.maxPeopleWrapper {
	width: 100%;
}

.collapsedContendReminder {
	width: 82%;
	float: left;
	padding-top: 3%;
}
