.navbar-header {
  background: linear-gradient(to right,rgb(0 186 177) ,rgb(98 194 169));
  background: -prefix-linear-gradient(right, rgb(0 186 177) ,rgb(98 194 169));
  border-bottom: none;
  color:white;
}
.navbar-brand {
  color:white !important;
}

.navbar-toggle {
  border-color:transparent !important;
}

.navbar-toggle:focus {
  border-color:transparent !important;
  background-color:rgb( 248 201 71) !important;
}

.navbar-toggle:hover {
  border-color:transparent !important;
  background-color:rgb( 248 201 71) !important;
}
