.navbartop {
	position: fixed;
	top: 0;
	height: 56px;
	width: 100%;
	background-color: #1EA185;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.23);
	z-index: 3;
}

.navbarbottom {
	position: fixed;
	bottom: 0;
	z-index: 2;
}

.BadgeNotif {
	padding : 0px !important;
	margin-top: 8%;
}

