.profilePaper {
	width: 96%;
	margin: 2%;
	text-align: center;
	display: inline-block;
}

.left {
	text-align: left;
}

.userSettingTextfield {
	width: 100% !important;
}

/* 768px */
@media only screen and (min-width: 400px) and (max-width: 599px) {
	.userSettingTextfield {
		margin: 1%;
		width: 48% !important;
		float: left;
	}

	.settingscol {
		width: 100%;
	}
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
	.userSettingTextfield {
		margin: 1%;
		width: 48% !important;
		float: left;
	}

	.settingscol {
		width: 50%;
		float: left;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
	.userSettingTextfield {
		width: 100% !important;
		float: left;
	}

	.settingscol {
		width: 100%;
	}
}

@media only screen and (min-width: 1100px) {
	.userSettingTextfield {
		margin: 1%;
		width: 48% !important;
		float: left;
	}

	.settingscol {
		width: 50%;
		float: left;
	}
}

.ImageWrapper{
	height:100px;
	margin: 24px 24px 12px 12px;
	left:calc(-50% - 24px);
}

.ProfileAvatar {
	padding:0px !important;
}
