.profilePaper {
	width: 96%;
	margin: 2%;
	padding: 6%;
	text-align: center;
	display: inline-block;
}

.left {
	text-align: left;
}

.userSettingTextfield {
	width: 100% !important;
}

@media only screen and (min-width: 400px) and (max-width: 599px) {
	.userSettingTextfield {
		margin: 1%;
		width: 48% !important;
		float: left;
	}

	.settingscol {
		width: 100%;
	}
}

@media only screen and (min-width: 600px) and (max-width: 770px) {
	.userSettingTextfield {
		margin: 1%;
		width: 48% !important;
		float: left;
	}

	.settingscol {
		width: 50%;
		float: left;
	}
}

@media only screen and (min-width: 771px) and (max-width: 1100px) {
	.userSettingTextfield {
		width: 100% !important;
		float: left;
	}

	.settingscol {
		width: 100%;
	}
}

@media only screen and (min-width: 1101px) {
	.userSettingTextfield {
		margin: 1%;
		width: 48% !important;
		float: left;
	}

	.settingscol {
		width: 50%;
		float: left;
	}
}
